#printers {
	max-width: 100%;
	width: auto;
}

.printer {
	width: auto;
	min-width: 80%;
	max-width: 100%;
	border-bottom: 1px black solid;
	box-sizing: border-box;
	white-space: normal;
	text-align: center;
}

#dialog {
	white-space: normal;
}

label {
	font-weight: bold;
}
