.tab-button {
	cursor: pointer;
	background-color: #777;
	padding: 2%;
	color: white;
}

.active, .tab:hover {
	background-color: #555;
}

hr {
	border-color: black
}

#tab-buttons {
	width: 100%;
}

#admin-panel {
	margin: 5%;
}

/*#add-buttons {
	margin: 5%;
	float: right;
}*/

#title {
	text-align: center
}

/*.column-head:after {
	float: right;
	content: '\25BD'
}*/

.display {
	width: auto;
	border-collapse: collapse;
	text-align: center;
	min-width: 80%;
	max-width: 100%;
}

.display-container {
	display: flex;
	justify-content: center;
}

.data {
	font-size: 1.4rem;
	justify-content: center;
	/*border-left: 2px black solid;
	border-right: 2px black solid;*/
}

.column-head {
	text-align: left;
	font-size: 1.2rem;
	padding: 1% 2%;
	background: black;
	color: white;
	border: 2px #555 solid;
	font-weight: bold;
	cursor: pointer;
	width: 10%;
}

.display tbody tr:nth-child(even) {
	background: lightgrey;
}

.display tbody tr:nth-child(odd) {
	background: dimgrey;
}

.display tbody tr {
	cursor: pointer;
}

.data-row:hover {
	/*color: #999;*/
	cursor: pointer;
}

#unauth {
	text-align: center;
}

#logout-button {
	float: right;
}

.table-items {
	display: inline-flex;
	justify-content: space-between;
	justify-items: start;
	width: 100%;
	flex-wrap: nowrap;
	flex-direction: row;
	margin: 2% 0 5% 0;
}

.filter {
	display: grid;
	justify-content: end;
	justify-items: start;
}

#printer-header th, #location-header th {
	position: sticky;
	top: 0;
}

.display .data-row mat-cell:nth-child(odd) {
	border-right: 2px black solid;
}

