.input-pair, #edit-printer {
	display: inline-grid;
	font-size: 1.5rem;
}

.input-pair {
	margin: 2%;
	width: 100%;
}

#edit-printer {
	padding: 2%;
	width: auto;
	min-width: 90%;
	max-width: 100%;
}

#container {
	width: 450px;
}

#content {
	margin: 5% 0;
}
