.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: #4581ff;
	text-align: left;
	outline: #ff6e4e;
	font-size: 15px;
}

.active, .collapsible:hover {
	background-color: #555;
}

.collapsible::before {
	content: '\002B';
	color: white;
	font-weight: bold;
	/*float: right;*/
	margin-right: 3%;
}

.active::before {
	content: "\2212";
}

.collapsible-content {
	padding: 0 18px;
	margin-left: 5%;
	margin-bottom: 1%;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	display: block;
}

.collapsible-container {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	display: grid;
}

.selection-buttons {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	float: right;
}

.selection-buttons button, .nav-buttons button {
	border: 1px black solid;
	margin: 0 5px
}

.nav-buttons {
	float: right;
}

.container {
	max-width: 100%;
	width: auto;
	margin: 0 10%;
	box-sizing: border-box;
}

.footer {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: 10% 0;
}

.selection-buttons button:hover, .nav-buttons button:hover {
	background-color: darkgrey;
	color: azure;
}

.printer {
	float: left;
	width: 33.3%;
	padding: 2%;
	box-sizing: border-box;
}

.location-set {
	margin: 2% 5%;
}
