<!--<div id="dialog-container">-->
	<h2>New Location</h2>
	<hr />
	<mat-dialog-content id="dialog">
		<form id="new-location" class="dialog-form" (ngSubmit)="create()">
			<fieldset class="input-pair">
				<label for="location">{{ prompts.locationName }}</label>
				<input placeholder="Test Location" (ngModelChange)="validate()" type="text" [(ngModel)]="displayName" name="locationName" id="location" />
			</fieldset>

			<fieldset class="input-pair">
				<label for="printers">{{ prompts.printers }}</label>
				<h6 class="mat-subheading-2">Use ctrl or shift to select multiple printers</h6>
				<select id="printers" multiple >
					<option *ngFor="let printer of pds.data" [value]="printer._id" class="printer">{{ printer.displayName }}</option>
				</select>
			</fieldset>
		</form>
	</mat-dialog-content>
	<mat-dialog-actions id="action-buttons">
		<button mat-button class="action-button" (click)="close()">{{ buttons.cancel }}</button>
		<button mat-button class="action-button" type="submit" form="new-location" [disabled]="!valid">{{ buttons.confirm }}</button>
	</mat-dialog-actions>
<!--</div>-->
