<h1>Edit Location</h1>

<header id="edit-header">
	<h3>{{ location.displayName }}</h3>

	<button mat-button (click)="delete()" id="remove-location">{{ buttons.delete }}</button>
</header>

<hr />

<mat-dialog-content>
	<form id="edit-form" class="dialog-form" (submit)="finished()" (change)="validate()">
		<fieldset class="input-pair">
			<label for="locationID">{{ prompts.locationID }}</label>
			<input name="locationID" id="locationID" type="text" readonly [ngModel]="location._id" />
		</fieldset>

		<fieldset class="input-pair">
			<label for="locationName">{{ prompts.locationName }}</label>
			<input placeholder="Temp Location" name="locationName" id="locationName" type="text" [(ngModel)]="locationName"/>
		</fieldset>

		<fieldset class="input-pair">
			<label for="ipAddress">{{ prompts.ipAddress }}</label>
			<input placeholder="123.456.789.012" name="ipAddress" id="ipAddress" type="text" [(ngModel)]="ipAddress" (ngModelChange)="validate()" />
		</fieldset>

		<fieldset class="input-pair">
			<label for="location-printers">{{ prompts.locationPrinters }}</label>
			<h6 class="mat-subheading-2">Use ctrl or shift to select multiple printers</h6>
			<select name="locationPrinters" multiple id="location-printers" [(ngModel)]="newPrinters">
				<option *ngFor="let printer of pds.data" [id]="printer._id" class="printer" [value]="printer._id">{{ printer.displayName }}</option>
			</select>
		</fieldset>
	</form>
</mat-dialog-content>
<mat-dialog-actions id="action-buttons">
	<button mat-button class="action-button" (click)="close()">{{ buttons.close }}</button>
	<button mat-button class="action-button" form="edit-form" type="submit" [disabled]="!valid">{{ buttons.finished }}</button>
</mat-dialog-actions>
