<header id="email-header">
	<h2>Email Address</h2>
	<p>What email address are we sending this to?</p>
</header>
<mat-dialog-content>
	<form id="email" [formGroup]="emailForm">
		<mat-form-field floatLabel="auto" hintLabel="Must be an AustinGastro.com address">
			<mat-label>Email Address:</mat-label>
			<input matInput formControlName="emailControl" type="email" required [(ngModel)]="emailAddress"
				   (ngModelChange)="verifyEmail()">
			<mat-error>You must use an AustinGastro.com email address</mat-error>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions id="action-buttons">
	<button mat-button class="action-button" (click)="cancel()">Cancel</button>
	<button mat-button class="action-button" [disabled]="!valid" (click)="finished()">Send</button>
</mat-dialog-actions>
