<div class='container'>
	<header id="add-header">
		<h1 class="add-header">Add Printers</h1>
	</header>

	<div id="selection-container">
		<!-- TODO: Figure out how to link this dropdown to the tabs correctly -->
		<mat-select id="location-selection" [(ngModel)]="currentLocation">
			<mat-option *ngFor="let location of locations; let i = index" [value]="i">{{ location.displayName }}</mat-option>
		</mat-select>
	</div>

	<br/>

	<div>
		<mat-tab-group id="locations" [(selectedIndex)]="currentLocation" (selectedTabChange)="tabChanged($event)">
			<mat-tab [id]="location._id" *ngFor="let location of locations; let i = index"
					 [label]="location.displayName" [tabIndex]="i" class="location-tab">
				<div class='selection-buttons'>
					<button mat-raised-button class='location-selection deselect' (click)='deselectAll(location)'>Unselect All</button>
					<button mat-raised-button class='location-selection select' (click)='selectAll(location)'>Select All</button>
				</div>
				<br/>
				<div class='printers'>
					<mat-checkbox class='printer' [(ngModel)]="printer.checked"
								  *ngFor='let printer of location.printers'>{{ printer.displayName }}</mat-checkbox>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>

	<footer id="action-buttons" class="main-buttons">
		<button mat-button mat-raised-button class="action-button" (click)="clearSelection(true)">Clear Selections</button>
		<button mat-button mat-raised-button class="action-button" (click)="sendSelected()">Get Printers</button>
	</footer>
</div>
