<div id="top">
	<h1>{{ header }}</h1>
	<h3>{{ subheader }}</h3>
</div>

<nav id="table-contents">
	<h3><a href="{{base}}#tutorials">All Tutorials</a></h3>
	<ul>
		<li *ngFor="let tutorial of tutorials"><a href="{{base}}#{{tutorial.linkID}}">{{ tutorial.title }}</a></li>
	</ul>

	<h3><a href="{{base}}#faqs">FAQs</a></h3>
	<ul>
		<li *ngFor="let faq of faqs"><a href="{{base}}#{{faq.linkID}}">{{ faq.question }}</a></li>
	</ul>
</nav>

<div id="tutorials" class="help-container">
	<h1>Tutorials</h1>
	<tutorials [tutorials]="tutorials" [base]="base" (toggleCollapse)="toggle($event)"></tutorials>
</div>

<div id="faqs" class="help-container">
	<h1>FAQs</h1>
	<faqs [faqs]="faqs" [base]="base" (toggleCollapse)="toggle($event)"></faqs>
</div>

<div id="images">

</div>
