<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Printer Installations</title>
		<base href="/">
	</head>
	<body>
		<nav-root></nav-root>

		<app-root></app-root>

		<footer id="bottom">
			<p>If you have any issues getting printers, please email us at <a href="mailto:agit@austingastro.com?subject=I%20need%20assistance%20with%20installing%20printers">AGIT@austingastro.com</a></p>
		</footer>
	</body>
</html>
