<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Printer Installations</title>
		<base href="/">
	</head>
	<body>
		<nav id="route-links">
			<a class="route-link" routerLink="/" href="/">Home</a>
			<a class="route-link" routerLink="/printers" href="/printers">Add Printers</a>
			<!--<a class="route-link" routerLink="/admin" href="/admin">Admin Portal</a>-->
			<a class="route-link" routerLink="/faq" href="/faq">FAQ</a>
		</nav>
		<app-root></app-root>
	</body>
</html>
