<div class="container">
	<mat-dialog-content>
		<form id="login" (ngSubmit)="login()">
			<div class="input-pair">
				<label for="username">{{ prompts.username }}</label>
				<input id="username" name="username" type="text" [(ngModel)]="user" (ngModelChange)="validate()" required />
			</div>

			<div class="input-pair">
				<label for="password">{{ prompts.password }}</label>
				<input id="password" name="password" type="password" [(ngModel)]="pass" (ngModelChange)="validate()" required />
			</div>
		</form>
	</mat-dialog-content>
	<mat-dialog-actions id="action-buttons">
		<button mat-button class="action-button" (click)="close()">{{ buttons.cancel }}</button>
		<button mat-button class="action-button" type="submit" form="login" [disabled]="!valid">{{ buttons.login }}</button>
	</mat-dialog-actions>
</div>
